html, body {
    margin: 0;
    height: 100%;
}



.point {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.3;
    padding: 10px;
    color: #ffffff;
    z-index: 1;
    margin: 10px;
    min-width: 200px;
    text-align: center;
}



.birdCount {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.3;
    padding: 10px;
    color: #ffffff;
    z-index: 1;
    margin: 10px;
    min-width: 200px;
    text-align: center;
}


.gameOver {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    margin:0;
    width:100%;
    height: 100%;
    opacity: 0.5;
    color: #ffffff;
    z-index: 2;
    text-align: center;

}